<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="index.html">Shopify-Training</a>
      <div class="collapse navbar-collapse" >
        <ul class="navbar-nav mr-auto">
          <!-- 指定したハンドル"main-menu"のリンクの取り出し -->
          {% for link in linklists.main-menu.links %}
          <li class="nav-item">

            <!-- サブメニューがある場合 -->
            <!-- link.titleをhandleizeし、変数に定義 -->
            {% assign child_list_handle = link.title | handleize %}
            {% if linklists[child_list_handle].links != blank %}
            <!-- ドロップダウンメニューを出す -->
            <div class="dropdown drop-hover">
              <!-- href="{{ link.url }}"でリンクのURLを指定、{{ link.title }}でタイトルを表示 -->
              <a class="nav-link dropdown-toggle" href="{{ link.url }}">{{ link.title }}</a>
              
              <ul class="dropdown-menu mt-0">
                <!-- "child_list_handle"のリンクの取り出し -->
                {% for childlink in linklists[child_list_handle].links %}

                <!-- サブメニューの中にメニューがある場合 -->
                {% assign sub_list_handle = childlink.title | handleize %}
                {% if linklists[sub_list_handle].links != blank %}
                <!-- ドロップダウンメニューを出す -->
                <li class="dropright drop-hover">
                  <a class="dropdown-item dropdown-toggle" href="{{ childlink.url }}">{{ childlink.title }}</a>
                  
                  <ul class="dropdown-menu ml-0">
                    <!-- sub_list_handleのタイトルを1つずつ表示 -->
                    {% for sublink in linklists[sub_list_handle].links %}
                    <li>
                      <a class="dropdown-item" href="{{ sublink.url }}">{{ sublink.title }}</a>
                    </li>
                    {% endfor %}
                  </ul>
                </li>

                <!-- サブメニューの中にメニューがない場合 -->
                {%else%}
                  <!-- "child_list_handle"のリンクのURLを指定、タイトルをescapeし表示 -->
                <li>
                  <a class="dropdown-item" href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
                </li>
                {%endif%}
                {% endfor %}
              </ul>
            </div>

            <!-- サブメニューがない場合 -->
            {%else%}
            <a class="nav-link" href="{{ link.url }}">{{ link.title }}</a>
            {%endif%}

          </li>
          {% endfor %}
  
        </ul>

        <div class="pc_menu d-flex">
          <!-- カート機能 -->
          <a href="/cart">
            <span class="navbar-text">
              <i class="fas fa-shopping-cart fa-lg"></i>
            </span>
            <span class="navbar-text">
              カート({{cart.item_count}})
            </span>
          </a>

          <!-- 検索機能 -->
          <form class="search" action="/search">
            <div class="input-group ml-2">
              <input type="text" class="form-control" placeholder="検索" name="q" value="{{ search.terms | escape }}">
              <span class="input-group-btn">
                <button type="submit  " class="btn btn-primary"><i class="fas fa-search"></i></button>
              </span>
            </div>
          </form>
        </div>

      </div><!-- collapse -->
    </nav>
  </header>